@model AspNetCoreServerSide.Models.Demo
@{
    Layout = null;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

    var requestCulture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var langFileUrl = string.Empty;
    if (requestCulture.RequestCulture.UICulture.Name == "en")
    {
        langFileUrl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json";
    }
    else
    {
        langFileUrl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jquery DataTables - Asp.Net Core Server Side</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/buttons.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
    @Html.AntiForgeryToken();

    <div class="container">
        <div class="row">
            <div class="col-4">
                @Localizer["Choose your language"]
            </div>
             <div class="col-4">
                <a href="@Url.Action("SetLanguage", "Home")?culture=en&returnUrl=@returnUrl" class="dropdown-item">English</a>
            </div>
             <div class="col-4">
                <a href="@Url.Action("SetLanguage", "Home")?culture=fr&returnUrl=@returnUrl" class="dropdown-item">Français</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center align-content-center">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center">@Localizer["Asp.Net Core - Jquery DataTables Server Side Multi Column Filtering And Ordering With Pagination And Excel Export Demo."]</p>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" id="txtExternalSearch" class="form-control" placeholder="@Localizer["External Search"]" aria-label="@Localizer["External Search"]" aria-describedby="btnExternalSearch">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="btnExternalSearch">@Localizer["Search"]</button>
                                </div>
                            </div>
                            
                            <jquery-datatables-html-localized id="fingers10"
                                               class="table table-sm table-dark table-bordered table-hover"
                                               model="@Model"
                                               thead-class="text-center"
                                               enable-searching="true"
                                               search-row-th-class="p-0"
                                               search-input-class="form-control form-control-sm"
                                               search-input-style=""
                                               search-input-placeholder-prefix="Search"
                                               use-property-type-as-input-type="false">
                            </jquery-datatables-html-localized>

                            <partial name="_Create" model="@(new Demo())" />
                            <div id="editPartial"></div>
                        </div>
                        <div class="card-footer">
                            <p class="text-center">@Localizer["Demo By"] &copy; Fingers10 - Abdul Rahman.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        let langFileUrl = '@langFileUrl';
        let exportToExcelText = '@Localizer["Export to Excel"]';
        let createText = '@Localizer["Create"]';
        let editText = '@Localizer["Edit"]';
        let deleteText = '@Localizer["Delete"]';
    </script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script>
    
    </script>
</body>
</html>
