@model AspNetCoreServerSide.Models.Demo
@{
    Layout = null;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

    var requestCulture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var langFileUrl = string.Empty;
    if (requestCulture.RequestCulture.UICulture.Name == "en")
    {
        langFileUrl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json";
    }
    else
    {
        langFileUrl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jquery DataTables - Asp.Net Core Server Side</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/buttons.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
    @Html.AntiForgeryToken();

    <div class="container">
        <div class="row">
            <div class="col-4">
                @Localizer["Choose your language"]
            </div>
             <div class="col-4">
                <a href="@Url.Action("SetLanguage", "Home")?culture=en&returnUrl=@returnUrl" class="dropdown-item">English</a>
            </div>
             <div class="col-4">
                <a href="@Url.Action("SetLanguage", "Home")?culture=fr&returnUrl=@returnUrl" class="dropdown-item">Français</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center align-content-center">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center">@Localizer["Asp.Net Core - Jquery DataTables Server Side Multi Column Filtering And Ordering With Pagination And Excel Export Demo."]</p>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" id="txtExternalSearch" class="form-control" placeholder="@Localizer["External Search"]" aria-label="@Localizer["External Search"]" aria-describedby="btnExternalSearch">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="btnExternalSearch">@Localizer["Search"]</button>
                                </div>
                            </div>
                            
                            <jquery-datatables-html-localized id="fingers10"
                                               class="table table-sm table-dark table-bordered table-hover"
                                               model="@Model"
                                               thead-class="text-center"
                                               enable-searching="true"
                                               search-row-th-class="p-0"
                                               search-input-class="form-control form-control-sm"
                                               search-input-style=""
                                               search-input-placeholder-prefix="Search"
                                               use-property-type-as-input-type="false">
                            </jquery-datatables-html-localized>

                            <partial name="_Create" model="@(new Demo())" />
                            <div id="editPartial"></div>
                        </div>
                        <div class="card-footer">
                            <p class="text-center">@Localizer["Demo By"] &copy; Fingers10 - Abdul Rahman.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script>
    if ($('#fingers10').length !== 0) {
        var table = $('#fingers10').DataTable({
             language: {
                url: "@langFileUrl"
            },
            processing: true,
            serverSide: true,
            orderCellsTop: true,
            autoWidth: true,
            deferRender: true,
            lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            dom: '<"row"<"col-sm-12 col-md-6"B><"col-sm-12 col-md-6 text-right"l>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            buttons: [
                {
                    text: '@Localizer["Export to Excel"]',
                    className: 'btn btn-sm btn-dark',
                    action: function (e, dt, node, config) {
                        window.location.href = "/Home/GetExcel";
                    },
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button');
                    }
                },
                {
                    text: '@Localizer["Create"]',
                    className: 'btn btn-sm btn-success',
                    action: function (e, dt, node, config) {
                        $('#createModal').modal('show');
                    },
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button');
                    }
                }
            ],
            ajax: {
                type: "POST",
                url: '/Home/LoadTable/',
                contentType: "application/json; charset=utf-8",
                async: true,
                headers: {
                    "XSRF-TOKEN": document.querySelector('[name="__RequestVerificationToken"]').value
                },
                data: function (data) {
                    let additionalValues = [];
                    additionalValues[0] = "Additional Parameters 1";
                    additionalValues[1] = "Additional Parameters 2";
                    data.AdditionalValues = additionalValues;

                    return JSON.stringify(data);
                }
            },
            columns: [
                {
                    data: "Id",
                    name: "eq",
                    visible: false,
                    searchable: false,
                    orderable: false
                },
                {
                    data: "Name",
                    name: "co"
                },
                {
                    data: "Position",
                    name: "co"
                },
                {
                    data: "Offices",
                    name: "eq"
                },
                {
                    data: "DemoNestedLevelOne.Experience",
                    name: "eq"
                },
                {
                    data: "DemoNestedLevelOne.Extension",
                    name: "eq"
                },
                {
                    data: "DemoNestedLevelOne.DemoNestedLevelTwos.StartDates",
                    render: function (data, type, row) {
                        if (data)
                            return window.moment(data).format("DD/MM/YYYY");
                        else
                            return null;
                    },
                    name: "gt"
                },
                {
                    data: "DemoNestedLevelOne.DemoNestedLevelTwos.Salary",
                    name: "lte"
                },
                {
                    orderable: false,
                    width: 100,
                    data: "DemoNestedLevelOne.DemoNestedLevelTwos.Action",
                    render: function (data, type, row) {
                        return `<div>
                                    <button type="button" class="btn btn-sm btn-info mr-2 btnEdit" data-key="${row.Id}">@Localizer["Edit"]</button>
                                    <button type="button" class="btn btn-sm btn-danger btnDelete" data-key="${row.Id}">@Localizer["Delete"]</button>
                                </div>`;
                    }
                }
            ]
        });

        table.columns().every(function (index) {
            $('#fingers10 thead tr:last th:eq(' + index + ') input')
                .on('keyup',
                    function (e) {
                        if (e.keyCode === 13) {
                            table.column($(this).parent().index() + ':visible').search(this.value).draw();
                        }
                    });
        });

        $(document)
            .off('click', '#btnCreate')
            .on('click', '#btnCreate', function () {
                fetch('/Home/Create/',
                    {
                        method: 'POST',
                        cache: 'no-cache',
                        body: new URLSearchParams(new FormData(document.querySelector('#frmCreate')))
                    })
                    .then((response) => {
                        table.ajax.reload();
                        $('#createModal').modal('hide');
                        document.querySelector('#frmCreate').reset();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            });

        $(document)
            .off('click', '.btnEdit')
            .on('click', '.btnEdit', function () {
                const id = $(this).attr('data-key');

                fetch(`/Home/Edit/${id}`,
                    {
                        method: 'GET',
                        cache: 'no-cache'
                    })
                    .then((response) => {
                        return response.text();
                    })
                    .then((result) => {
                        $('#editPartial').html(result);
                        $('#editModal').modal('show');
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            });

        $(document)
            .off('click', '#btnUpdate')
            .on('click', '#btnUpdate', function () {
                fetch('/Home/Edit/',
                    {
                        method: 'PUT',
                        cache: 'no-cache',
                        body: new URLSearchParams(new FormData(document.querySelector('#frmEdit')))
                    })
                    .then((response) => {
                        table.ajax.reload();
                        $('#editModal').modal('hide');
                        $('#editPartial').html('');
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            });

        $(document)
            .off('click', '.btnDelete')
            .on('click', '.btnDelete', function () {
                const id = $(this).attr('data-key');

                if (confirm('Are you sure?')) {
                    fetch(`/Home/Delete/${id}`,
                        {
                            method: 'DELETE',
                            cache: 'no-cache'
                        })
                        .then((response) => {
                            table.ajax.reload();
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            });

        $('#btnExternalSearch').click(function () {
            table.column('0:visible').search($('#txtExternalSearch').val()).draw();
        });
    }
    </script>
</body>
</html>
